<div class="background">
  
	<div class="center">
		<div><img id="arrow"
    srcset="https://firebasestorage.googleapis.com/v0/b/gacha-1c4eb.appspot.com/o/arrowleft.png?alt=media&token=9b60fa21-4aef-4084-967f-40ab63609181" width="100.1%" height="100.1%" a routerLink="lastWish()"></div>

			<img id="pic"
    srcset="{{ gacha.picture }}" width="100.1%" height="100.1%">

			<div><img id="arrow"
    srcset="https://firebasestorage.googleapis.com/v0/b/gacha-1c4eb.appspot.com/o/arrowright.png?alt=media&token=cd74ae2a-c6d5-478a-90e8-4034c7aa347a" width="100.1%" height="100.1%" a routerLink="nextWish()"></div>
			</div>

			<br><br>
			<div>
				<nav id="one"><a routerLink="/one-wish">Wish x1</a></nav>
				<nav id="ten"><a routerLink="/ten-wish">Wish x10</a></nav>
			</div>
		</div>